<ng-container *ngFor="let company of companies; let i = index">
    <button 
        type="button" 
        class="btn btn-primary" 
        (click)="isCollapsed=i"> {{ company.companyName }}
    </button>
    <button
        type="submit"
        class="bbtn btn-outline-secondary"
        (click)="userRequestCompany(company)">
        Register
    </button>
    <hr>
    <div 
        [collapse]="i!==isCollapsed" 
        class="card card-block card-header">
        <div class="well well-lg">
            <app-company-detail-view [company]="company"></app-company-detail-view>
        </div>
    </div>
</ng-container>