<form>
  <h3>Edit Your Job Details</h3>
  <div class="form-group" class="col-sm-5">
    <label for="exampleInputRole">Job Role</label>
    <input
      type="role"
      class="form-control"
      id="exampleInputRole"
      aria-describedby="RoleHelp"
      placeholder="Enter Job Role"
    />
  </div>
  <div class="form-group" class="col-sm-5">
    <label for="exampleFormControlTextarea1">Job Description</label>
    <textarea
      class="form-control"
      id="exampleFormControlTextarea1"
      rows="3"
    ></textarea>
  </div>
  <div class="form-group" class="col-sm-5">
    <label for="jobTypeFormControlSelect">Job Type</label>
    <select class="form-control" id="jobTypeFormControlSelect">
      <option>FULL TIME</option>
      <option>PART TIME</option>
      <option>INTERNSHIP</option>
    </select>
  </div>
  <div class="form-group" class="col-sm-5">
    <label for="jobDomainFormControlSelect">Job Domain</label>
    <select class="form-control" id="jobDomainFormControlSelect1">
      <option>TECHNICAL</option>
      <option>MARKETING</option>
      <option>DESIGN</option>
    </select>
  </div>
  <div class="form-group" class="col-sm-5">
    <label for="jobOpenForFormControlSelect">Open For</label>
    <select class="form-control" id="jobOpenForFormControlSelect1">
      <option>MALE ONLY</option>
      <option>FEMALE ONLY</option>
      <option>ALL</option>
    </select>
  </div>
  <div class="form-group" class="col-sm-5">
    <label for="jobLocationFormControlSelect">Job Location</label>
    <ng-select
      [items]="categories"
      bindLabel="name"
      placeholder="Select Category"
      appendTo="body"
      [multiple]="true"
      [(ngModel)]="selected"
    >
    </ng-select>
  </div>
  <div class="form-group" class="col-sm-5">
    <label for="QualificationsFormControlSelect">Qualifications</label>
    <ng-select
      [items]="categories_qualifications"
      bindLabel="name"
      placeholder="Select Category"
      appendTo="body"
      [multiple]="true"
      [(ngModel)]="selected"
    >
    </ng-select>
  </div>
  <div class="form-group" class="col-sm-5">
    <label for="jobLocationFormControlSelect">Skills Required</label>
    <ng-select
      [items]="categories_skills"
      bindLabel="name"
      placeholder="Select Category"
      appendTo="body"
      [multiple]="true"
      [(ngModel)]="selected"
    >
    </ng-select>
  </div>
  <button class="btn btn-primary" type="submit">Save</button>
</form>
