
form{
    margin-left: 50px;
  justify-content:center;
  align-items: center;
  height: 110vh;
}
label{
   margin-top:10px;
   margin-bottom: 10px; 
   font-weight: bold;
}
button{
    margin-top: 10px;
}

