<div class="container mx-auto mt-4">
    <div class="row">
      <div class="col-md-4">
        <div class="card" style="width: 22rem;">
            <img src="https://i.imgur.com/ZTkt4I5.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Job Role</h5>
      <h6 class="card-subtitle mb-2 text-muted">Job Role</h6>
      <h5 class="card-title">Job Description</h5>
      <h6 class="card-subtitle mb-2 text-muted">Job Description</h6>
      <h5 class="card-title">Job Type</h5>
      <h6 class="card-subtitle mb-2 text-muted">Job Type</h6>
      <h5 class="card-title">Job Domain</h5>
      <h6 class="card-subtitle mb-2 text-muted">Job Domain</h6>
      <h5 class="card-title">Job Open For</h5>
      <h6 class="card-subtitle mb-2 text-muted">Job Open For</h6>
      <h5 class="card-title">Job Location</h5>
      <h6 class="card-subtitle mb-2 text-muted">Job Location</h6>
      <h5 class="card-title">Job Qualifications</h5>
      <h6 class="card-subtitle mb-2 text-muted">Qualifications</h6>
      <h5 class="card-title">Job Skills</h5>
      <h6 class="card-subtitle mb-2 text-muted">Skills</h6>
        
    </div>
    </div>
      </div>    
       
  </div>
    </div>
