<div *ngIf="user; else loading">
  <div class="mb-3 row">
    <div class="col-12 col-md-4">
      <label for="inputFirstName" class="form-label">First Name</label>
      <input
        type="text"
        class="form-control"
        id="inputFirstName"
        inputFirstName="inputFirstName"
        #inputFirstName="ngModel"
        required
        minlength="3"
        [(ngModel)]="user.userName.firstName"
      />
      <div
        *ngIf="
          inputFirstName.invalid &&
          (inputFirstName.dirty || inputFirstName.touched)
        "
        class="text-danger small"
      >
        <div *ngIf="inputFirstName.errors?.['required']">
          First Name is required.
        </div>
        <div *ngIf="inputFirstName.errors?.['minlength']">
          First Name must be at least 3 characters long.
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <label for="inputMiddleName" class="form-label">Middle Name</label>
      <input
        type="text"
        class="form-control"
        id="inputMiddleName"
        [(ngModel)]="user.userName.middleName"
        #inputMiddleName="ngModel"
      />
    </div>
    <div class="col-12 col-md-4">
      <label for="inputLastName" class="form-label">Last Name</label>
      <input
        type="text"
        class="form-control"
        id="inputLastName"
        required
        minlength="3"
        [(ngModel)]="user.userName.lastName"
        #inputLastName="ngModel"
      />
      <div
        *ngIf="
          inputLastName.invalid &&
          (inputLastName.dirty || inputLastName.touched)
        "
        class="text-danger small"
      >
        <div *ngIf="inputLastName.errors?.['required']">
          Last Name is required.
        </div>
        <div *ngIf="inputLastName.errors?.['minlength']">
          Last Name must be at least 4 characters long.
        </div>
      </div>
    </div>
  </div>
  <div class="mb-3">
    <label for="inputEmail" class="form-label">Email address</label>
    <input
      type="email"
      class="form-control"
      id="inputEmail"
      readonly="true"
      [value]="user.email"
      disabled="true"
    />
  </div>
  <div class="mb-3">
    <label for="inputMobileNo" class="form-label">Mobile No.</label>
    <input
      type="text"
      class="form-control"
      id="inputMobileNo"
      required
      minlength="10"
      maxlength="10"
      [(ngModel)]="user.mobileNumber"
      #inputMobileNo="ngModel"
    />
    <div
      *ngIf="
        inputMobileNo.invalid && (inputMobileNo.dirty || inputMobileNo.touched)
      "
      class="text-danger small"
    >
      <div *ngIf="inputMobileNo.errors?.['required']">
        Mobile No. is required.
      </div>
      <div
        *ngIf="inputMobileNo.errors?.['minlength']||inputMobileNo.errors?.['maxlength']"
      >
        Mobile No. must be of 10 characters long
      </div>
    </div>
  </div>
  <!-- better if password entering comes as a prompt or modal? -->
  <div class="mb-3">
    <label for="inputPassword" class="form-label">Verify Password</label>
    <input
      type="password"
      class="form-control"
      id="inputPassword"
      required
      [(ngModel)]="user.password"
      #inputPassword="ngModel"
      minlength="8"
    />
    <div
      *ngIf="
        inputPassword.invalid && (inputPassword.dirty || inputPassword.touched)
      "
      class="text-danger small"
    >
      <div *ngIf="inputPassword.errors?.['required']">
        Please Enter your Password
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" (click)="onFormSubmit()">
    Update
  </button>
</div>
<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
