<div class="container">
  <div>
    <tabset type="pills">
      <tab>
        <ng-template tabHeading>
          <span>Jobs</span>
        </ng-template>
        <app-company-jobs-detail></app-company-jobs-detail>
      </tab>
      <tab>
        <ng-template tabHeading>
          <span>Company profile</span>
        </ng-template>
        <app-company-profile></app-company-profile>
      </tab>
      <tab>
        <ng-template tabHeading>
          <span>User profile</span>
        </ng-template>
        <app-user-profile></app-user-profile>
      </tab>
    </tabset>
  </div>
</div>
