<div class="container">
  <h2 class="text-center">College Details</h2>
  <br />

  <p style="text-align: center">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQezy_Boc_sWLLWu5j-OmgpMO0Lv3Xqm9RYpUtcYzkMzFqipEsX00wCI1oj9AtI8JAIzCk&usqp=CAU"
      alt="Generic placeholder image"
      class="img-fluid img-thumbnail mt-4 mb-2"
      style="height: 200px; width: 200px"
    />
  </p>

  <div class="container" style="height: 400px; width: 500px">
    <ul class="list-group">
      <li class="list-group-item"><b>Name: </b>{{ college.collegeName }}</li>

      <li class="list-group-item">
        <b>Website: </b>
        <a href="{{ college.collegeWebsite }}"> {{ college.collegeWebsite }}</a>
      </li>

      <li class="list-group-item">
        <b>Email ID: </b> {{ college.collegeEmail }}
      </li>

      <li class="list-group-item">
        <b>NIRF Ranking: </b> {{ college.collegeNirfRanking }}
      </li>

      <li class="list-group-item">
        <b>AICTE Approval: </b> {{ college.collegeAicteAffiliation }}
      </li>

      <li class="list-group-item">
        <b>City: </b> {{ college.collegeLocation.locationCity }}
      </li>

      <li class="list-group-item">
        <b>District: </b> {{ college.collegeLocation.locationDistrict }}
      </li>

      <li class="list-group-item">
        <b>State: </b> {{ college.collegeLocation.locationState }}
      </li>

      <li class="list-group-item">
        <b>Pincode: </b> {{ college.collegeLocation.locationPincode }}
      </li>

      <li class="list-group-item">
        <b>Country: </b> {{ college.collegeLocation.locationCountry }}
      </li>
    </ul>
  </div>
</div>
