<app-landing-page-header></app-landing-page-header>
<h2 class="heading" style="text-align: centre">Colleges</h2>
<div class="container mt-4">
  <div class="row">
    <div class="col-auto mb-3">
      <!-- ngFor -->
      <div class="card" style="width: 18rem">
        <img
          class="card-img"
          src="https://previews.123rf.com/images/captainvector/captainvector1703/captainvector170309311/74165534-college-logo-element.jpg"
          alt="Card image"
        />
        <div class="card-body">
          <h5 class="card-title">XYZ</h5>
          <p class="card-text">lorem epsum haha!</p>
          <a href="www.google.com" class="card-link">Website-Link</a>
        </div>
      </div>
    </div>
  </div>
</div>
<h2 class="heading" style="text-align: centre">Companies</h2>
<div class="container mt-4">
  <div class="row">
    <div class="col-auto mb-3">
      <!-- ngFor -->
      <div class="card" style="width: 18rem">
        <img
          class="card-img"
          src="https://blog.hubspot.com/hubfs/image8-2.jpg"
          alt="Card image"
        />
        <div class="card-body">
          <h5 class="card-title">Google</h5>
          <p class="card-text">lorem epsum haha!</p>
          <a href="www.google.com" class="card-link">Website-Link</a>
        </div>
      </div>
    </div>
  </div>
</div>
