<form [formGroup]="collegeDetailsForm" (ngSubmit)="collegeFormSubmit()">
  <h3 class="text-center">Enter College Details</h3>
  <div class="row mt-3">
    <label for="collegeName"> College Name </label>
    <input
      type="text"
      class="form-control"
      placeholder="enter college name"
      formControlName="collegeName"
    />
    <small
      *ngIf="collegeName?.invalid && collegeName?.touched"
      class="text-danger"
      >Name is Required</small
    >
  </div>

  <div class="row mt-3">
    <label> College Website </label
    ><input
      type="url"
      name="collegeWebsite"
      class="form-control"
      placeholder="enter college website"
      formControlName="collegeWebsite"
    />
    <small
      *ngIf="collegeWebsite?.invalid && collegeWebsite?.touched"
      class="text-danger"
      >Website is Required</small
    >
  </div>

  <div class="row mt-3">
    <label class="labels">College Email ID</label
    ><input
      type="email"
      name="collegeEmail"
      class="form-control"
      placeholder="enter email id"
      formControlName="collegeEmail"
    />
    <small
      *ngIf="collegeEmail?.invalid && collegeEmail?.touched"
      class="text-danger"
      >Email is Required</small
    >
  </div>

  <div class="row mt-3">
    <label> NIRF Ranking </label
    ><input
      type="number"
      name="collegeNirfRanking"
      class="form-control"
      placeholder="enter college nirf ranking"
      formControlName="collegeNirfRanking"
    />
    <small
      *ngIf="collegeNirfRanking?.invalid && collegeNirfRanking?.touched"
      class="text-danger"
      >NIRF Ranking is Required</small
    >
  </div>

  <div>
    <br /><label> AICTE Approved: </label><br /><input
      type="radio"
      formControlName="collegeAicteAffiliation"
      value="Yes"
    />Yes
    <small
      *ngIf="
        collegeAicteAffiliation?.invalid && collegeAicteAffiliation?.touched
      "
      class="text-danger"
      >Approval status is Required</small
    >
    <br />
    <input type="radio" formControlName="collegeAicteAffiliation" value="No" />
    No
    <small
      *ngIf="
        collegeAicteAffiliation?.invalid && collegeAicteAffiliation?.touched
      "
      class="text-danger"
      >Approval status is Required</small
    >
  </div>

  <div class="form-group">
    <div class="col-md-12">
      <br /><label class="labels">College Address</label>
    </div>

    <div class="row mt-3">
      <div class="col-md-6">
        <label class="labels">City</label
        ><input
          type="text"
          class="form-control"
          name="locationCity"
          placeholder="enter city"
          formControlName="collegeLocationCity"
        />
        <small
          *ngIf="collegeLocationCity?.invalid && collegeLocationCity?.touched"
          class="text-danger"
          >City is Required</small
        >
      </div>
      <div class="col-md-6">
        <br /><label class="labels">District</label
        ><input
          type="text"
          class="form-control"
          placeholder="enter district"
          name="locationDistrict"
          formControlName="collegeLocationDistrict"
        />
        <small
          *ngIf="
            collegeLocationDistrict?.invalid && collegeLocationDistrict?.touched
          "
          class="text-danger"
          >District is Required</small
        >
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-6">
        <label class="labels">State</label
        ><input
          type="text"
          class="form-control"
          name="locationState"
          placeholder="enter state"
          formControlName="collegeLocationState"
        />
        <small
          *ngIf="collegeLocationState?.invalid && collegeLocationState?.touched"
          class="text-danger"
          >State is Required</small
        >
      </div>
      <div class="col-md-6">
        <br /><label class="labels">Pincode</label
        ><input
          type="number"
          class="form-control"
          placeholder="enter pincode"
          name="locationPincode"
          formControlName="collegeLocationPincode"
        />
        <small
          *ngIf="
            collegeLocationPincode?.invalid && collegeLocationPincode?.touched
          "
          class="text-danger"
          >Pincode is Required</small
        >
      </div>
    </div>

    <div class="col-md-12">
      <br /><label class="labels">Country</label
      ><input
        type="text"
        class="form-control"
        placeholder="enter country"
        name="locationCountry"
        formControlName="collegeLocationCountry"
      />
      <small
        *ngIf="
          collegeLocationCountry?.invalid && collegeLocationCountry?.touched
        "
        class="text-danger"
        >Country is Required</small
      >
    </div>
  </div>

  <br />

  <br /><br /><br />
  <div class="container text-center">
    <button
      class="btn btn-primary profile-button"
      type="submit"
      value="Submit"
      style="width: 150px"
    >
      Submit
    </button>
  </div>
</form>
