<div class="container" >
    <div class="row align-items-center vh-100">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Register</h5>
            <form class="form-signin" >
            <div class="row mt-2">
              <div class="form-group">
                <input type="text"  class="form-control mt-3"  placeholder="First Name" formControlName="firstName">
              </div>
              <div class="form-group">
                <input type="text"  class="form-control  mt-3"  placeholder="Middle Name " formControlName="middleName">
              </div>
            </div>
              <div class="form-group">
                <input type="text"  class="form-control mt-3"  placeholder="Last Name " formControlName="lastName">
              </div>
              <div class="form-group">
                <input type="tel"  class="form-control mt-3"  placeholder="Mobile Number " formControlName="mobileName">
              </div>
              <div>
                <input type="email"  class="form-control mt-3"  aria-describedby="emailHelp" placeholder="Email" formControlName="email">
              </div>
              <div>
                  <input type="password" class="form-control rounded mt-3"  aria-describedby="passwordHelp" placeholder="Password" formControlName="password">
              </div>
  
              <!-- <p class="alert alert-danger" role="alert" >
                <strong>There was an error!</strong><br>Please check your username/password and try again.
              </p> -->
              <br>
              <button type="button" class="btn btn-primary">Register</button>
  
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  