<!-- collge-detail-view

*ngIf="userType==collegeAdmin"
college-detail-form -->

<div class="container">
  <div>
      <tabset [(ngModel)]="disableSwitching" ngDefaultControl>
      <tab heading="Basic Info">
          <div>
              <app-college-detail-view [college]="college"></app-college-detail-view>
          </div>
      </tab>
      <tab heading="Modify" [disabled]="disableSwitching">
          <div>
            <app-college-detail-form [college]="college"></app-college-detail-form>
          </div>
      </tab>
      </tabset>
  </div>
</div>

<!-- Alert Component-->
<div style="position: absolute; bottom: 10px; z-index: 100">
  <app-dismissive-alert></app-dismissive-alert>
</div>
