<div class="container">
    <form [formGroup]="updateForm" (ngSubmit)="onRegister()">
        <div class="mb-3">
            <label for="name" class="form-label">Company's Name</label>
            <input 
            type="text" 
            class="form-control" 
            id="name" 
            formControlName="inputName"
            />
        </div>

        <div class="mb-3">
            <label for="inputDesc" class="form-label">Description</label>
            <textarea class="form-control" id="inputDesc" rows="4" formControlName="inputDesc"></textarea>
        </div>

        <div class="mb-3">
            <label for="inputWebsite" class="form-label">Website</label>
            <input type="text" class="form-control" id="inputWebsite" formControlName="inputWebsite"/>
        </div>

        <div class="mb-3">
            <label for="inputCin" class="form-label">Corporate Identification Number (CIN)</label>
            <input type="text" class="form-control" id="inputCin" formControlName="inputCin"/>
        </div>
        
        <div class="mb-3">
            <label for="inputImage" class="form-label">Company's Logo</label>
            <input class="form-control" type="file" id="inputImage">
        </div>

        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>

<!-- Alert Component-->
<div style="position: absolute; bottom: 10px; z-index: 100">
    <app-dismissive-alert></app-dismissive-alert>
  </div>
  