<div class="container">
    <div>
        <tabset [(ngModel)]="disableSwitching" ngDefaultControl>
        <tab heading="Basic Info">
            <div>
                <app-company-detail-view [company]="company"></app-company-detail-view>
            </div>
        </tab>
        <tab heading="Modify" [disabled]="disableSwitching">
            <div>
                Create a new component
            </div>
        </tab>
        </tabset>
    </div>
</div>

<!-- Alert Component-->
<div style="position: absolute; bottom: 10px; z-index: 100">
    <app-dismissive-alert></app-dismissive-alert>
</div>